.env
.env.*
!.env.example
.DS_Store
node_modules/
.next/
coverage/
**/tmp/
**/log/*.log
**/storage/*
!**/storage/.keep
vendor/bundle/
public/assets/
artifacts/
playwright-report/
test-results/
**/config/master.key
**/config/credentials/*.key
**/.kamal/secrets
